USE [CRUD_EF.Models.Contexto]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 02/07/2019 14:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/07/2019 14:21:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Senha] [nvarchar](20) NOT NULL,
	[DataCadastro] [datetime] NOT NULL,
	[NivelAcesso] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Nome], [Email], [Senha], [DataCadastro], [NivelAcesso]) VALUES (1, N'Amanda Nascimento', N'admin@admin.com', N'1234', CAST(N'2019-06-28 22:28:50.800' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([ID], [Nome], [Email], [Senha], [DataCadastro], [NivelAcesso]) VALUES (2, N'Maria da Silva', N'maria@teste.com', N'1234', CAST(N'2019-06-28 22:29:34.380' AS DateTime), 2)
INSERT [dbo].[Usuarios] ([ID], [Nome], [Email], [Senha], [DataCadastro], [NivelAcesso]) VALUES (3, N'João da Silva', N'joao@teste.com', N'1234', CAST(N'2019-06-28 22:29:51.720' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
